body {
    background-color: rgb(29, 29, 27);
    font-family: 'Raleway', sans-serif;
}
#mainNavbar .nav-link:hover{
    color: yellow;
}
.welcome{
    color: wheat;
}
.button1{
    background-color: rgb(255, 196, 0);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
p{
    font-size: 1.2rem;
}
hr {
	display: block;
	position: relative;
	width: 100vw;
	height: 2px;
	margin: 3rem 0 3rem -50vw;
	left: 50%;
	border: none;
    border-bottom: 2px dashed wheat;
}
#help{
    color: rgb(0, 225, 255);
    text-decoration: underline;
}