body {
    background-color: rgb(29, 29, 27);
    font-family: 'Raleway', sans-serif;
}
#mainNavbar .nav-link:hover{
    color: yellow;
}
hr {
	display: block;
	position: relative;
	width: 100vw;
	height: 2px;
	margin: 0.5rem 0 0.5rem -50vw;
	left: 50%;
	border: none;
    border-bottom: 2px dashed wheat;
}
.welcome{
    color: wheat;
}
.tec{
	color:white;
}
.card{
    background-color: rgb(39, 39, 35);
    color: white;
}
.title{
    color: wheat;
    font-size: 1.2rem;
}
#help{
    color: rgb(0, 225, 255);
    text-decoration: underline;
    justify-content: center;
    text-align: center;
}