body {
    background-color: rgb(29, 29, 27);
    font-family: 'Raleway', sans-serif;
    color: wheat;
}
#mainNavbar .nav-link:hover{
    color: yellow;
}
#help{
    color: rgb(0, 225, 255);
    text-decoration: underline;
}