body {
    background-color: rgb(29, 29, 27);
    font-family: 'Raleway', sans-serif;
}
#mainNavbar .nav-link:hover{
    color: yellow;
}
.welcome{
    color: wheat;
}
hr {
	display: block;
	position: relative;
	width: 100vw;
	height: 2px;
	margin: 2rem 0 2rem -50vw;
	left: 50%;
	border: none;
    border-bottom: 2px dashed wheat;
}
.contract{
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
    font-size: 1.03rem;
    /* text-align: center; */
}
.left{
    border-right: 1px solid wheat;
}
.heading{
    color:wheat;
    text-decoration: underline;
}
.impt{
    font-weight: bold;
    color: rgb(219, 218, 183)
}
.button1{
    background-color: rgb(255, 196, 0);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}
#lighted1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 230, 2);
}
#lighted2{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 230, 2);
}
#lighted3{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 230, 2);
}
#lighted4{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 230, 2);
}
.card{
    background-color: rgb(39, 39, 35);
}
.title{
    color: wheat;
}