body {
    background-color: rgb(29, 29, 27);
    font-family: 'Raleway', sans-serif;
}
#mainNavbar .nav-link:hover{
    color: yellow;
}
.welcome{
    color: wheat;
}
hr {
	display: block;
	position: relative;
	width: 100vw;
	height: 2px;
	margin: 2rem 0 2rem -50vw;
	left: 50%;
	border: none;
    border-bottom: 2px dashed wheat;
}
.contract{
    color:whitesmoke;
    text-align: center;
}
.left{
    border-right: 1px solid wheat;
    
}
.heading{
    color:wheat;
    text-decoration: underline;
}
.impt{
    font-weight: bold;
    color: rgb(219, 218, 183)
}