hr {
	display: block;
	position: relative;
	width: 100vw;
	height: 2px;
	margin: 2rem 0 2rem -50vw;
	left: 50%;
	border: none;
    border-bottom: 2px dashed wheat;
}
p{
    font-size: 1.2rem;
    color: wheat;
}
.welcome{
    color: wheat;
}
#txt{
    font-size: 1.2rem;
    color: wheat;
}
#industrySelection{
    border-bottom: 1px solid wheat;
}
.form-check{
    font-size: 1.1rem;
    padding-right: 0.27rem;
}
.fieldLabel{
    font-size: 1.1rem;
}